* {
  margin: 0;
  padding: 0;
}

.book-card {
  position: relative;
  /* background-color: red; */
  width: 98%;
  height: 300px;
  margin: auto;
  margin-top: .3em;
  margin-bottom: .3em;
  border-radius: 4px;
  border: solid 2px rgb(6, 130, 231);
}

.book-card-img {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  float: left;
  /* background-color: green; */
  width: 25%;
}

.book-card-img img {
  margin-left: 10px;
}

.book-card-body {
  margin-top: 10px;
  /* background-color: blue; */
  width: 75%;
  height: 200px;
  float: right;
}

.book-card-body label {
  font-size: 20px;
}

.book-card-body {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: lightblue; */
  height: 200px;
  width: 73.5%;
  margin-top: 40px;
  margin-right: 10px;
}

.book-card-title {
  /* background-color: green; */
  display: flex;
  width: 100%;
  height: 30px;
  font-size: 27px;
  margin-left: 10px;
  overflow: hidden;
}

.title-element {
  font-size: 18px;
  margin-top: 5px;
}

.book-card-title p {
  margin-left: 10px;
}

.book-card-author {
  display: flex;
  /* background-color: yellow; */
  border: solid 2px lightgrey;
  width: 100%;
  height: 30px;
  font-size: 27px;
}

.book-card-author label {
  font-size: 27px;
}

.book-card-author p {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.book-card-description {
  text-align: center;
  /* background-color: orange; */
  /* border: solid 2px lightgrey; */
  width: 100%;
  height: 30px;
}

.book-card-description label {
  font-size: 27px;
}

.book-card-description-container {
  /* background-color: red; */
  border: solid 2px lightgrey;
  height: 140px;
  width: 100%;
  overflow: scroll;
}

.book-card-description-container p {
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.save-button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  background-color: rgb(48, 216, 48);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}